html, body {
  margin: 20px;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 300;
  font-size: 24px;
}

li {
  margin-top: 0.33em;
  margin-bottom: 0.33em;
}

ul {
  margin-bottom: 1em;
}

input {
  font-size: 24px;
}

a:link, a:visited {
  color: #516bff;
  text-decoration: none;
}

a.delete {
  color: #9a3434;
}
