html, body {
  margin: 20px;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 300;
  color: #444;
}

body {
  font-size: 18px;
}

@media screen and (min-width: 768px) {
  body {
    font-size: 24px;
  }
}

.relative {
  position: relative;
  width: 100%;
  height: 100%;
}

ul.torrents {
  width: 100%;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

ul.torrents > li {
  width: 100%;
  padding: 0;
  color: #888;
}

.torrent-info {
  padding: 0.25em 0.25em;
}

.torrent-info ul {
  margin-top: 1em;
}

li {
  margin-top: 0.33em;
  margin-bottom: 0.33em;
}

ul {
  margin-bottom: 1em;
}

.torrent-input, .torrent-search {
  width: 100%;
  max-width: 400px;
}

input {
  font-size: 18px;;
  padding-left: 30px;
  width: 100%;
  box-sizing: border-box;
}

@media screen and (min-width: 768px) {
  input {
    font-size: 24px;
  }
}

.torrent-input::before, .torrent-search::before {
  padding: 1px 12px;
  position: absolute;
  opacity: 0.25;
}

.torrent-input::before {
  content: '+';
}

.torrent-search::before {
  content: ' ';
  background-image: url(/images/search.png);
  background-size: 12px 12px;
  height: 24px;
  width: 12px;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (min-width: 768px) {
  .torrent-search::before {
    background-size: 16px 16px;
    height: 30px;
    width: 12px;
  }
}

.torrent-input:hover::before, .torrent-search:hover::before {
  opacity: 0.5;
}

.outbound-links {
  font-size: 0.7em;
}

.outbound-links a:link, .outbound-links a:visited {
  color: #888;
}

a:link, a:visited {
  color: #516bff;
  text-decoration: none;
  opacity: 0.9;
}

a:hover {
  opacity: 1;
}

a.original-url {
  opacity: 0.25;
}

a.original-url:hover {
  opacity: 0.5;
}

a.delete {
  color: #9a3434;
}

.torrent-name {
  color: #444;
}

a.file-name {
  margin-right: 0.5em;
}

.torrent-progress-container {
  position: absolute;
  z-index: -1;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #F8F8F8;
  border-radius: 3px;
  overflow: hidden;
}

.torrent-progress {
  height: 100%;
  background-color: #82c87f;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 3px;
  transition: width 0.2s ease-in-out;
  -webkit-transition: width 0.2s ease-in-out;
  -moz-transition: width 0.2s ease-in-out;
}
