html, body {
  margin: 20px;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 300;
  font-size: 24px;
  color: #444;
}

.relative {
  position: relative;
  width: 100%;
  height: 100%;
}

ul.torrents {
  width: 100%;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

ul.torrents > li {
  width: 100%;
  padding: 0;
  color: #888;
}

.torrent-info {
  padding: 0.25em 0.25em;
}

li {
  margin-top: 0.33em;
  margin-bottom: 0.33em;
}

ul {
  margin-bottom: 1em;
}

input {
  font-size: 24px;
}

a:link, a:visited {
  color: #516bff;
  text-decoration: none;
}

a.delete {
  color: #9a3434;
}

.torrent-name {
  color: #444;
}

.torrent-progress-container {
  position: absolute;
  z-index: -1;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #F8F8F8;
  border-radius: 3px;
  overflow: hidden;
}

.torrent-progress {
  height: 100%;
  background-color: #82c87f;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 3px;
  transition: width 0.2s ease-in-out;
  -webkit-transition: width 0.2s ease-in-out;
  -moz-transition: width 0.2s ease-in-out;
}
